.headerContainer{
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent{
  max-width: 1120px;
  height: 5rem;
  // centralizar horizontalmente
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav{
    margin-left: 5rem;
    height: 5rem;

    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      transition: color 0.2s;

      //espaçar a partir da segunda ancora para a primeira
      & + a {
        margin-left: 2rem;
      }

      &:hover{
        color: var(--white);
      }

      &.active{
        color: var(--white);
        font-weight: bold;
      }

      //todo link que está ativo, fica amarelo, iremos adicionar uma borda no mesmo
     //after vai adicionar algo depois da tag, podemos adicionar até content
     //adicionando a linha embaixo do link
      &.active::after{
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500);
      }

    }
  }
 // jogar o botão la para a direita dando o máximo de margin que ele puder

  button {
    margin-left: auto;
  }
}